body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'VT323', monospace;
  font-size: 18px;
}

.profile-image {
  border: solid;
  border-width: 5px;
  border-radius: 50%;
  border-color: hotpink;
  position: fixed;
  top: 0;
  left: 0;
  margin: 5px;
  height: 225px;
}

.contact-info {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 5px;
}

.name,
.curly-bracket {
  font-size: 24px;
}

.github,
.linkedin,
.resume,
.email {
  margin: 0px 0px 10px 20px;
}

.curly-bracket-left,
.curly-bracket-right {
  font-size: 200px;
  font-weight: lighter;
}

#info-section {
  margin-top: 80px;
}

a {
  color: lime;
}

a:hover {
  color: hotpink;
}

.projects-link {
    position: fixed;
    bottom: 50%;
    right: 0px;
    margin-right: 5px;
    font-size: 24px;
}

.project-card {
  padding: 20px 40px 40px 40px;
}
